## .NET / Visual Studio
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## WiX
*.msi
*.wixpdb
*.wixobj

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
