<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="MajaFaktura"
           Version="1.6.0.0"
           Manufacturer="Maria Padyasek"
           UpgradeCode="E2A87C04-10AC-4C25-992E-F50D186D8587"
           InstallerVersion="500"
           Compressed="yes"
           Scope="perMachine">

    <SummaryInformation Description="MajaFaktura - Invoice Creator" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of MajaFaktura is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="$(ProjectDir)\Assets\applogo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="MajaFaktura">
        <Files Include="$(ProjectDir)\publish\**">
          <Exclude Files="$(ProjectDir)\publish\**\*.pdb" />
        </Files>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="MajaFaktura">
        <Component Id="StartMenuShortcut" Guid="A7F1B2C3-D4E5-6F78-9A0B-C1D2E3F4A5B6">
          <Shortcut Id="AppStartMenuShortcut"
                    Name="MajaFaktura"
                    Description="Invoice Creator"
                    Target="[INSTALLFOLDER]MajaFaktura.exe"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\MajaFaktura" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="B8F2C3D4-E5A6-7B89-0C1D-E2F3A4B5C6D7">
        <Shortcut Id="AppDesktopShortcut"
                  Name="MajaFaktura"
                  Description="Invoice Creator"
                  Target="[INSTALLFOLDER]MajaFaktura.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon" />
        <RegistryValue Root="HKCU" Key="Software\MajaFaktura" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

  </Package>

</Wix>
